.header {
  .container {
    background-color: #fff;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
  }

  &-logo {
    cursor: pointer;
    width: 180px;
    height: 51px;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-menu {
    display: none;
  }
  &-pic {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 260px;
      border-right: 1.7px solid #ff9124;
      padding-right: 40px;
      margin-right: 20px;

      &-img {
        box-sizing: content-box;
        width: 30px;
        height: 30px;
        padding: 6px;
        border-radius: 50%;
        border: 1px solid #000000d8;
      }
      &-text {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
        max-width: 130px;
      }
    }
  }
  &-link {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #000;
  }
  &__rightimg {
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid #000;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.4px solid $text;
    padding-top: 10px;
    margin-top: 15px;
    &-link {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
      color: $qora;
      text-align: left;

      &:last-child {
        background-color: $text;
        padding: 0 5px;
        border-radius: 6px;
        color: $oq;
        position: relative;

        &::after {
          content: "1";
          font-size: 12px;
          border-radius: 50%;
          padding: 0 11px;
          color: $oq;
          background-color: $qora;
          position: absolute;
          right: -15px;
          top: -10px;
        }
      }
    }
    &-select {
      border: none;
      outline: none;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      color: $qora;
    }
  }
}

@media screen and (max-width: 1143px) {
  .header {
    .container {
      background-color: #fff;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      width: 100%;
    }

    &-logo {
      cursor: pointer;
      width: 180px;
      height: 51px;
    }
    .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-menu {
      display: inline;
      font-size: 24px;
    }
    &-pic {
      box-sizing: content-box;

      display: inline;
      background-color: $text;
      padding: 5px;
      border-radius: 50%;
    }
    &__list {
      display: flex;
      align-items: center;
      display: none;

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 260px;
        border-right: 1.7px solid #ff9124;
        padding-right: 40px;
        margin-right: 20px;
        &-img {
          box-sizing: content-box;
          width: 30px;
          height: 30px;
          padding: 6px;
          border-radius: 50%;
          border: 1px solid #000000d8;
        }
        &-text {
          font-family: Montserrat;
          font-size: 12px;
          font-weight: 400;
          line-height: 16.8px;
          max-width: 130px;
        }
      }
    }
    &-link {
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 700;
      line-height: 36px;
      text-align: left;
      color: #000;
    }
    &__rightimg {
      box-sizing: content-box;
      width: 30px;
      height: 30px;
      padding: 6px;
      border-radius: 50%;
      border: 1px solid #000;
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1.4px solid $text;
      padding-top: 10px;
      margin-top: 15px;
      display: none;
      &-link {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        color: $qora;
        text-align: left;

        &:last-child {
          background-color: $text;
          padding: 0 5px;
          border-radius: 6px;
          color: $oq;
          position: relative;

          &::after {
            content: "1";
            font-size: 12px;
            border-radius: 50%;
            padding: 0 11px;
            color: $oq;
            background-color: $qora;
            position: absolute;
            right: -15px;
            top: -10px;
          }
        }
      }
      &-select {
        border: none;
        outline: none;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: $qora;
      }
    }
  }
}
@media screen and (max-width: 504px) {
  .header {
    .container {
      background-color: #fff;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      width: 100%;
    }

    &-logo {
      cursor: pointer;
      width: 180px;
      height: 51px;
    }
    .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-menu {
      display: inline;
      font-size: 24px;
    }
    &-pic {
      box-sizing: content-box;

      display: inline;
      background-color: $text;
      padding: 5px;
      border-radius: 50%;
    }
    &__list {
      display: flex;
      align-items: center;
      display: none;

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 260px;
        border-right: 1.7px solid #ff9124;
        padding-right: 40px;
        margin-right: 20px;

        &-img {
          box-sizing: content-box;
          width: 30px;
          height: 30px;
          padding: 6px;
          border-radius: 50%;
          border: 1px solid #000000d8;
        }
        &-text {
          font-family: Montserrat;
          font-size: 12px;
          font-weight: 400;
          line-height: 16.8px;
          max-width: 130px;
        }
      }
    }
    &-link {
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 700;
      line-height: 36px;
      text-align: left;
      color: #000;
      display: none;
    }
    &__rightimg {
      box-sizing: content-box;
      width: 30px;
      height: 30px;
      padding: 6px;
      border-radius: 50%;
      border: 1px solid #000;
    }
    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1.4px solid $text;
      padding-top: 10px;
      margin-top: 15px;
      display: none;
      &-link {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        color: $qora;
        text-align: left;

        &:last-child {
          background-color: $text;
          padding: 0 5px;
          border-radius: 6px;
          color: $oq;
          position: relative;

          &::after {
            content: "1";
            font-size: 12px;
            border-radius: 50%;
            padding: 0 11px;
            color: $oq;
            background-color: $qora;
            position: absolute;
            right: -15px;
            top: -10px;
          }
        }
      }
      &-select {
        border: none;
        outline: none;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: $qora;
      }
    }
  }
}
